@model Project_1.ViewModels.EnrollMultipleViewModel

@{
    ViewData["Title"] = "EnrollMultiple";
}

<h1>EnrollMultiple</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnrollMultiple">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Enrollment.Course.Id" asp-items="Model.CoursesList">
                    <option value="">All</option>
                </select>
                <span asp-validation-for="CoursesList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Students</label>
                <select asp-for="SelectedStudents" class="form-control js-example-basic-multiple" asp-items="Model.StudentList"></select>
                <span asp-validation-for="SelectedStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SelectedStudents").select2();
        });
    </script>
}
